.bottom-nav-container {
    width: 75vw;
    height: 8vh;
    display: flex;
}

.Textbox-previous, .Textbox-middle-nav, .Textbox-next {
    background-color: lightblue;
    width: 34%;
    height: 100%;
}