.App {
  margin: 0 auto;
}

.App-header {
  background-color: #35A5DA;
  color: #222222;
  font-size: 12px;
  min-height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 75vw;
}

.App-body {
  background-color: #222222;
  height: 88vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Body-top-textbox {
  background-color: white;
  color: #222222;
  width: 75vw;
  height: 50vh;
  text-justify: auto;
}

.Body-bottom-nav {
  width: 75vw;
  height: 8vh;
  display: flex;
}

.Textbox-previous, .Textbox-middle-nav, .Textbox-next {
    background-color: lightblue;
    width: 34%;
    height: 100%;
}
.Textbox-previous {
  
}

.Textbox-middle-nav {

}

.Textbox-edit {

}

.Textbox-delete {

}

.Textbox-new {

}

.Textbox-next {

}