.App {
  margin: 0 auto;
}

.App-header {
  background-color: #35A5DA;
  color: #222222;
  font-size: 12px;
  min-height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 75vw;
}

.App-body {
  background-color: #222222;
  height: 88vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Body-top-textbox {
  background-color: white;
  width: 75vw;
  height: 50vh;
}

.Body-bottom-nav {
  background-color: lightblue;
  width: 75vw;
  height: 10vh;
}

.Textbox-previous {

}

.Textbox-middle-nav {

}

.Textbox-edit {

}

.Textbox-delete {

}

.Textbox-new {

}

.Textbox-next {

}