.App {
  margin: 0 auto;
}

.App-header {
  background-color: #35A5DA;
  color: #222222;
  font-size: 12px;
  min-height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 75vw;
}

.App-home-nav {

}

.App-body {
  background-color: #222222;
  height: 88vh;
  text-align: center;
  display: flex;
  justify-content: center;
}

.Body-top-textbox {

}

.Body-bottom-nav {

}

.Textbox-previous {

}

.Textbox-middle-nav {

}

.Textbox-edit {

}

.Textbox-delete {

}

.Textbox-new {

}

.Textbox-next {

}